<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :given_url %>
    <%= form.text_field :given_url, id: :link_given_url %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :link_slug %>
  </div>

  <div class="field">
    <%= form.label :clicks %>
    <%= form.number_field :clicks, id: :link_clicks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
