<p id="notice"><%= notice %></p>

<p>
  <strong>url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>shorten:</strong>
  <%= @link.shorten %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @link.clicks %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
